@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂 base */
@layer base {
  html {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Azeret Mono', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, system-ui, monospace, sans-serif;
  }
}

/* 自訂 components */
@layer components {
  .btn {
    font-size: 20px;
    /* @apply inline-block py-1.5 px-3 uppercase font-medium; */
    @apply inline-block py-2 px-8 duration-300;
  }
  
  .btn:focus {
    @apply outline-none;
  }

  .btn-primary {
    @apply text-white bg-gradient-to-r from-primary to-secondary;
  }

  @screen lg {
    .btn-primary:hover {
      /* @apply bg-gradient-to-l bg-[center_left_124px] ; */
      @apply bg-gradient-to-l;
    }
  }

  .btn-sm {
    font-size: 16px;
    @apply py-1 px-4;
  }

  .btn-lg {
    font-size: 24px;
    @apply py-4 px-10;
  }

  /* icon 預設值，不知道放哪比較好 */
  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .navbar {
    @apply max-h-0;
  }
  .navbar.active {
    @apply max-h-[122px];
  }

  @screen md {
    .navbar {
      @apply max-h-full;
    }
    .navbar.active {
      @apply max-h-full;
    }
  }
}

/* 自訂 utilities */
@layer utilities {
  .rotate-y-720 {
    transform: rotateY(720deg);
  }

  .rotate-x-720 {
    transform: rotateX(720deg);
  }

  .font-settings-bold {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  }

  .link {
    @apply duration-200 hover:opacity-70;
  }

  /* title 下底線 */
  .title-underline {
    @apply relative after:absolute after:left-0 after:bottom-0 after:w-[50px] after:h-[3px] after:bg-primary;
  }

  /* 漸層色 */
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-secondary to-primary;
  }

  .translate-middle {
    @apply -translate-x-1/2 -translate-y-1/2;
  }

  .hover-300 {
    @apply transition-all duration-300;
  }
}
